<h2> Add New Author</h2>
<%= form_for @author do |x| %>
    <div class="form-group">
        <%= x.label :first_name%> <br/>
        <%= x.text_field :first_name, class: 'form-control'%><br />
    </div>

    <div class="form-group">
        <%= x.label :last_name%> <br/>
        <%= x.text_field :last_name, class: 'form-control'%><br />
    </div>

    <%= x.submit "submit", class:'btn btn-primary' %>
    <%= link_to "cancel", authors_path, class:'btn btn-default'%>
<% end %>

