<h2> Add New Publisher</h2>
<%= form_for @publisher do |x| %>

    <% if @publisher.errors.any? %>
        <%# Check for errors %>
        <%  @publisher.errors.full_messages.each do |msg| %>
            <%# Display error messages %>
            <div class="alert alert-danger"><%= msg%></div>
        <% end %>
    <% end %>
    <div class="form-group">
        <%= x.label :name%> <br/>
        <%= x.text_field :name, class: 'form-control'%><br />
    </div>
    <%= x.submit "submit", class:'btn btn-primary' %>
    <%= link_to "cancel", publishers_path, class:'btn btn-default'%>
<% end %>