<h2> Add New Category</h2>
<%= form_for @category do |x| %>
    <div class="form-group">
        <%= x.label :name%> <br/>
        <%= x.text_field :name, class: 'form-control'%><br />
    </div>

    <%= x.submit "submit", class:'btn btn-primary' %>
    <%= link_to "cancel", categories_path, class:'btn btn-default'%>
<% end %>