<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title ? @page_title : 'Welcome'%> | The Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-default bg-light fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse container" >
        <ul class="nav navbar-nav mr-auto">
          <li class="<%= params[:controller] == 'books' ? 'active' : '' %>"><%= link_to 'Home', root_path%></li>
          <li class="<%= params[:controller] == 'about' ? 'active' : '' %>"><%= link_to 'About', about_path%></li>
        </ul> 
        <div class="show dropdown">
          <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add New
          </a>
          <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
            <li><%= link_to "Book", new_book_path%></li>
            <li><%= link_to "Category", new_category_path%></li>
            <li><%= link_to "Author", new_author_path%></li>
            <li><%= link_to "Publisher", new_publisher_path%></li>
          </ul>  
        </div> 
      </div>
    </nav>
    <header>
      <div class="container">
        <h1> The BookStore <small> <%= @page_title ? @page_title : 'Welcome'%></small></h1>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
             <%= yield %>
          </div>
          <div class="col-md-4">
            <%= render 'partials/sidebar'%>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p> Copyright &copy; 2019, All Right Reserved. </p>
      </div>
    </footer>
   
  </body>
</html>
